/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  }
  
  /* Navbar links */
  #navbar a {
    float: right;
    display: block;
    color: #0062cc;
    text-align: center;
    font-weight: bold;
    padding: 14px;
    text-decoration: none;
  }
  
  /* Page content */
  .content {
    padding: 5px;
  }

  .container{
    margin: auto;
    width: 100%;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

.filter{
    margin: auto;
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.filter .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

.goods{
    margin: auto;
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

#item{
    margin: auto;
    padding: 10px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

#itemrow{
    padding-top: 5px;
}

.signup{
  width: 100%;
}

.myDiv{
	display:none;
} 

/*.row{
    padding-top: 25px;
    margin:0px;
}*/